<div class="nav">
  <div class="nav-left">
    <img src="/images/logo.png" class="logo" />

    <div class="brand">Borrow Tracker</div>
  </div>

  <div class="nav-menu">
    <a href="/items" class="nav-link"> Items </a>

    <a href="/logout" class="nav-link logout"> Logout </a>
  </div>
</div>
